GCLOUD_TOKEN=AIzaSyAMVpS2U1wFDNHhPFmo4YfK79K6omEPcqY

GOOGLE_CLIENT_ID=971674921618-j0f4lnfneserc3gq21264i5dovrrllli.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_DOMAIN=bobthecoder.org

AUTH_CALLBACK_URL=https://friday.tools.bobthecoder.org/authentication/callback
STARK_URL=https://stark.tools.bobthecoder.org 

JWT_SECRET_KEY=Qf1utFOjU9DeXVFe
MONGO_URI=mongodb+srv://lambda-dev:Qf1utFOjU9DeXVFe@bob-the-coder-recruitme.lhbnv.mongodb.net/friday?retryWrites=true&w=majority

SANITY_API_KEY=skerWBYFUoXmb8KPKVN0DFwYO1N2mYGKQs3duCMHNGlZJSVTIpibIo5sAiPDBjHB12Q6kmt97MFofVe42ByvYiOP0T264Txzt73sxPcjxAqnuXqDE1fE2b1ETWkr6xVlO3vdqvOrSQjMWrO6DQ2xrncdInAgxgrqUCMKS33URa2ncIuNUg2z
FUNCTIONS_EMULATOR_TIMEOUT_SECONDS=1200