GCLOUD_TOKEN=AIzaSyAMVpS2U1wFDNHhPFmo4YfK79K6omEPcqY

GOOGLE_CLIENT_ID=971674921618-j0f4lnfneserc3gq21264i5dovrrllli.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_DOMAIN=https://bobthecoder.org

AUTH_CALLBACK_URL=http://localhost:5001/friday-internal/us-central1/authentication-callback
STARK_URL=https://stark.tools.bobthecoder.org 

JWT_SECRET_KEY=Qf1utFOjU9DeXVFe
MONGO_URI=mongodb+srv://lambda-dev:Qf1utFOjU9DeXVFe@bob-the-coder-recruitme.lhbnv.mongodb.net/friday?retryWrites=true&w=majority